<html class="compatible"><!--<![endif]--><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GUNPONG</title>
    <meta name="description" content="GUNPONG is a simple multiplayer game that can be visited in a web browser and played with the arrow keys. The objective of the game is to keep the ball from escaping a small circle with a paddle that follows a rotary track around the circle. Many players join this game and are able to participate with the real-time syncing made possible with Gun.">
            <meta property="og:image" content="https://www.filepicker.io/api/file/lOaLdHz3RPyzbiORb7VR">
    
        <meta property="og:url" content="http://www.gunpong.co">
        <meta property="og:title" content="GUNPONG">
        <meta property="og:description" content="GUNPONG is a simple multiplayer game that can be visited in a web browser and played with the arrow keys. The objective of the game is to keep the ball from escaping a small circle with a paddle that follows a rotary track around the circle. Many players join this game and are able to participate with the real-time syncing made possible with Gun.">

        
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic|Playfair+Display:400,700,400italic|Great+Vibes|Open+Sans:400italic,700italic,700,400,300|Oswald|Old+Standard+TT:400,700,400italic|Quattrocento:700,400|Sansita+One|Bevan|Montserrat" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="//pop-profiles.s3.amazonaws.com/builds/1437751742536/clean-blocks/css/styles.min.css">
    <link href="//s3.amazonaws.com/popco/css/popbootstrap.css" rel="stylesheet">

        <style type="text/css">
    body {
        color: #6a737f;
        background-color: #1a1c1a;
    }
    .site-title h1 { color: #26a3a9; }
    h2 { #6a737f; }
    p { color: #6a737f; }
            a { color: #1a1c1a; text-decoration:underline; }
    
            .container .full-content-wrapper { padding: 0; }
    .full-content-wrapper .bg-color { display:none!important; }
    
    
        @media only screen and (max-width: 1019px) {
        .container .full-content-wrapper { padding: 0; }
    }

    @media only screen and (max-width: 719px) {
        .container .full-content-wrapper { padding: 0; }
    }

    @media only screen and (max-width: 419px) {
        .container .full-content-wrapper { padding: 0; }
    }
    
            #toggleForm { color: #26a3a9; border-color: #26a3a9; }
   button { background-color: #26a3a9; }
    input, textarea { background-color: #fff; color: rgb(101, 131, 133); }
    input::-webkit-input-placeholder { color: rgb(101, 131, 133); }
    input:-moz-placeholder { color: rgb(101, 131, 133); }
    textarea::-webkit-input-placeholder { color: rgb(101, 131, 133); }
    textarea:-moz-placeholder { color: rgb(101, 131, 133); }
    
    </style>
<style type="text/css"></style><script type="text/javascript" charset="UTF-8" src="http://maps.gstatic.com/maps-api-v3/api/js/20/15/common.js"></script><style type="text/css"></style><script type="text/javascript" charset="UTF-8" src="http://maps.gstatic.com/maps-api-v3/api/js/20/15/util.js"></script><script type="text/javascript" charset="UTF-8" src="http://maps.gstatic.com/maps-api-v3/api/js/20/15/stats.js"></script><script type="text/javascript" charset="UTF-8" src="http://maps.gstatic.com/maps-api-v3/api/js/20/15/common.js"></script><script type="text/javascript" charset="UTF-8" src="http://maps.gstatic.com/maps-api-v3/api/js/20/15/util.js"></script><script type="text/javascript" charset="UTF-8" src="http://maps.gstatic.com/maps-api-v3/api/js/20/15/stats.js"></script></head>
<body class="font-bundle-lato xpos-center ypos-top">
    <!--[if lt IE 7]>
    <p class="browsehappy">
    You are using an <strong>outdated</strong> browser. Please
    <a href="http://browsehappy.com/">upgrade your browser</a> to improve
    your experience.
    </p>
    <![endif]-->
    
            <div class="container-wrapper clearfix">
    <div class="section full-content-wrapper center " style="width: 100%;">
<div class="content-wrapper">
<div class="block site-logo" style=" padding: 90px 0; ">
<div class="container">
<div class="block-content">
    <img class="logo" src="https://www.filepicker.io/api/file/k8R1ub5UT4mJM7Rh2fsm" alt="">
</div>
</div>
</div>
<div class="block site-title" style=" padding: 0px 0; ">
<div class="container">
<div class="block-content">
    <h1><span style="color: rgb(255, 255, 255); font-size: 60px;" rel="color: rgb(255, 255, 255); font-size: 60px;"><strong>GUNPONG</strong></span></h1>
</div>
</div>
</div>
<div class="block site-tagline" style=" padding: 12px 0; color: white;">
<div class="container">
<div class="block-content">
    <h2>Gunpong is a simple multiplayer game that can be visited in a browser and played with the arrow keys. The objective of the game is to keep the ball from escaping a small circle with a paddle that follows a rotary track around a circle. Many players join this game and are able to participate with the real-time syncing made possible with Gun.&nbsp;</h2>
</div>
</div>
</div>
<div class="block site-contact" style=" padding: 90px 0; ">
<div class="container">
<div class="block-content">
    <a style="color: #ffffff;border-color: #ffffff;background-color: rgba(255,255,255,0.5);" href="#" class="toggleForm">Contact</a>
<div class="content contact-us">
    <form action="/contact" class="contact-form" name="contact-form">
        <div class="response">&nbsp;</div>
        <label for="full-name">Name</label>
        <input type="text" class="full-name" name="full-name" placeholder="Your Name">

        <label for="email">Email</label>
        <input type="email" class="email" name="email" placeholder="Email Address">

        <label for="message">Message</label>
        <textarea name="message" class="message" placeholder="Write your message here"></textarea>

        <button style="color: rgb(26, 28, 26); background-color: rgb(255, 255, 255);">Send Message</button>
    </form>
</div>
</div>
</div>
</div>
<div class="block column-three-images" style=" padding: 50px 0;  background-color: #ffffff; ">
<div class="container">
<div class="block-content">
    <div class="row">
    <div class="col-sm-4">
<div class="mask">
        <img src="https://www.filepicker.io/api/file/ArHUdVmS6KXaNzOTBEOk" pop-editor-modal="image" pop-editor-rollover-icon="fa-camera" ng-model="block.fields.image_src">
</div>
        <br>
        <div pop-redactor="html,formatting,bold,italic,deleted,unorderedlist,orderedlist,outdent,indent,link,horizontalrule" pop-redactor-plugins="fontcolor,fontsize,fontfamily,popalign" pop-redactor-field="text_1">
                        <h3 editor-options="bold,italic,url,color,size,font,align">Circular Pong Game<div class="pop-editable-icon" title="Edit text"><i class="i-pencil-6"></i></div></h3>
<div editor-options="bold,italic,url,color,size,font,align">
The classic game, reinvented!
</div><div class="pop-editable-icon" contenteditable="false"><i class="fa fa-pencil"></i></div>     </div>
    </div>
    <div class="col-sm-4">
<div class="mask">
        <img src="https://s3.amazonaws.com/popco/images/services/starter-page/img-round-placeholder.jpg" pop-editor-modal="image" pop-editor-rollover-icon="fa-camera" ng-model="block.fields.image_src">
</div>
        <br>
        <div pop-redactor="html,formatting,bold,italic,deleted,unorderedlist,orderedlist,outdent,indent,link,horizontalrule" pop-redactor-plugins="fontcolor,fontsize,fontfamily,popalign" pop-redactor-field="text_2">
                        <h3 editor-options="bold,italic,url,color,size,font,align">Multiplayer<div class="pop-editable-icon" title="Edit text"><i class="i-pencil-6"></i></div></h3>
<div editor-options="bold,italic,url,color,size,font,align">
Play with your friends!
</div><div class="pop-editable-icon" contenteditable="false"><i class="fa fa-pencil"></i></div>     </div>
    </div>
    <div class="col-sm-4">
<div class="mask">
        <img src="https://s3.amazonaws.com/popco/images/services/starter-page/img-round-placeholder.jpg" pop-editor-modal="image" pop-editor-rollover-icon="fa-camera" ng-model="block.fields.image_src">
</div>
        <br>
        <div pop-redactor="html,formatting,bold,italic,deleted,unorderedlist,orderedlist,outdent,indent,link,horizontalrule" pop-redactor-plugins="fontcolor,fontsize,fontfamily,popalign" pop-redactor-field="text_3">
                        <h3 editor-options="bold,italic,url,color,size,font,align">Real-time Syncing with Gun.js<div class="pop-editable-icon" title="Edit text"><i class="i-pencil-6"></i></div></h3>
<div editor-options="bold,italic,url,color,size,font,align">
Uses the decntralization features of GunDB to put less load on the server.
</div><div class="pop-editable-icon" contenteditable="false"><i class="fa fa-pencil"></i></div>     </div>
    </div>
</div>
</div>
</div>
</div>
<div class="block site-title" style=" padding: 60px 0; ">
<div class="container">
<div class="block-content">
    <h1><span style="font-size:24" rel="font-size:24"><span style="color:#244061" rel="color:#244061"><strong style="font-size: 24px; color: rgb(242, 242, 242);">CONTACT US</strong></span></span></h1>
</div>
</div>
</div>
<div class="block site-social" style=" padding: 53px 0; ">
<div class="container">
<div class="block-content">
    <ul style="color: #f2f2f2">
                                                        </ul>
</div>
</div>
</div>
<div class="block site-description" style=" padding: 20px 0; ">
<div class="container">
<div class="block-content">
    <div class="description">
    This project was produced during MHacks 6.</div>
</div>
</div>
</div>
</div>
<div class="bg-color"></div>
</div>
        </div>
        
        <footer>
        <div>This <strong>.CO</strong> website is built with <a title="POP your idea or business online" href="https://www.pop.co/?utm_source=SP&amp;utm_medium=footer&amp;utm_content=poweredbypop&amp;utm_campaign=SPfooter&amp;tracking_code=SPfooter&amp;utm_term=SPgunpong.co"><strong>POP</strong></a></div>      <!--
        <a class="pop-idea" href="https://pop.co" title="POP your idea or business online">
            <span class="info">
                <img src="//d3p3qamu41o4dm.cloudfront.net/images/home/pop-logo.png" alt="Get your very own POP page">
            </span>
        </a>
        -->
    </footer>
            <script type="text/template" id="popupContent">
    <div class="map-popup">
        <p class="address">
            <strong>gunpong.co</strong><br />
            <br /><br />            <a href="https://maps.google.com/maps?q=%2C%2C%2C%2C" target="_blank">Get Directions</a>
        </p>
    </div>
    </script>

        <div id="popup">
        <div class="bg-container">
            <a href="#" class="close" title="Close">×</a>
            <div class="content">
                <header>
                    <a href="https://pop.co" title="POP gets your idea online in seconds">
                        <img src="https://d3p3qamu41o4dm.cloudfront.net/images/home/pop-logo.png" alt="POP your idea online">
                    </a>
                </header>

                <p>
                    This page was built with POP, the ridiculously easy way to launch a business or idea online. Get your domain, custom email and webpage for free today!
                </p>
                <p>
                    If you are the admin of this page, login <a href="https://pop.co/panel/service/starter-page">now</a> to edit it.
                </p>
                <p>
                Oh, by the way, this site looks amazing on a mobile browser.
                </p>
                <a href="https://www.pop.co/?utm_source=SP&amp;utm_medium=footer&amp;utm_content=poweredbypop&amp;utm_campaign=SPfooter&amp;tracking_code=SPfooter&amp;utm_term=SPgunpong.co" class="btn" title="Free domain, email and webpage with POP!">Free domain, email and webpage with POP!</a>
            </div>
        </div>
        <div class="overlay"></div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
<script type="text/javascript">
  $.backstretch("/images/background.jpg");
</script><div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 965px; width: 1194px; z-index: -999999; position: fixed;"><img src="/images/background.jpg" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1194px; height: 1198.49px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -116.747px;"></div><div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 665px; width: 1903px; z-index: -999999; position: fixed;"><img src="/images/background.jpg" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1903px; height: 1268.67px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -301.833px;"></div>
                    <script src="//maps.google.com/maps/api/js?v=3.2&amp;sensor=false"></script><script src="http://maps.gstatic.com/maps-api-v3/api/js/20/15/main.js"></script><script src="http://maps.gstatic.com/maps-api-v3/api/js/20/15/main.js"></script>
    
    <script type="text/javascript">
        var StarterPage = StarterPage || {};
        StarterPage.settings = {
            application_url: 'http://profile-api.pop.co',
            domain: 'gunpong.co',
                        show_map: false,
            show_contact_form: true,
            coords: { lat: 0.000000 , lng: 0.000000}        };
    </script>

    <script type="text/javascript" src="//pop-profiles.s3.amazonaws.com/builds/1437751742536/clean-blocks/js/script.min.js"></script>
    <script type="text/javascript" src="//s3.amazonaws.com/popco/css/bootstrap-3.0.1/dist/js/bootstrap.min.js"></script>



    
        <script async="" src="//analytics.pop.co/?h=gunpong.co&amp;ref="></script>


</body></html>